.header{position:relative;height:50px;background:#ffec43}
.header .header-options,
.header .shopping-cart,
.header .header-search{position:absolute;top:0;left:0;width:50px;height:50px;border:1px solid #000}
.header .shopping-cart{left:auto;right:0}
.header .header-search{left:auto;right:50px}
.header .header-title{text-align:center}