body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,span{margin:0;padding:0;-webkit-font-smoothing:antialiased;box-sizing:border-box}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
strong,em{font-style:normal}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
html,body{height:100%;-webkit-tap-highlight-color:transparent}
input,textarea{outline:0}
body{background:#edebec;font-size:14px;line-height:1.5;
    font-family:"Helvetica Neue",Helvetica ,"Microsoft Yahei", Arial,sans-serif,"Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,SimSun;
    width:100%;overflow-x:hidden}

a{text-decoration:none;-webkit-tap-highlight-color:transparent}
img{display:block}
.clearfix:before,
.clearfix:after{content:' ';display:block;clear:both}

.hide{display:none}

.green{color:#73b36b !important}
.grey{color:#999 !important}
.white{color:#fff !important}
.darkGrey{color:#666}
.yellow{color:#ff9600}
.red{color:#f00}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {color:#999}

/* 修改chrome记住密码后自动填充表单的黄色背景 */
input:-webkit-autofill {background: none;color: #000}

.noScroll{position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden}
.center_middle{display:flex;justify-content:center;align-items:center}

.arrow_right:after{content:'';margin-left:6px;display:inline-block;width:8px;height:8px;border-top:1px solid #666;border-right:1px solid #666;-webkit-transform: rotate(45deg);transform: rotate(45deg)}

.icons:before{content:'';display:inline-block;width:30px;height:30px;background:url(icons.png) no-repeat;background-size:300px auto}

.back_btn{text-indent:-9999px}
.back_btn:before{content:'';position:absolute;top:18px;left:23px;width:12px;height:12px;border:1px solid #fff;border-width:1px 0 0 1px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}


.animate{-webkit-transition:all .25s ease-out;transition: all .25s ease-out}

.loading{margin:15px auto;font-size: 4px;position: relative;text-indent: -9999em;border: 0.5em solid rgba(0, 0, 0, 0.1);border-left-color:#ccc;-webkit-animation: empty_loading 1.1s infinite linear;animation: empty_loading 1.1s infinite linear}
.loading,
.loading:after{border-radius: 50%;width:20px;height:20px}
/*.pull-refresh{display:none;margin:8px auto;font-size: 4px;position: relative;text-indent: -9999em;border: 0.5em solid rgba(0, 0, 0, 0.1);border-left-color:#ccc;-webkit-animation: empty_loading 1.1s infinite linear;animation: empty_loading 1.1s infinite linear}*/
/*.pull-refresh,*/
/*.pull-refresh:after{border-radius: 50%;width:30px;height:30px}*/

.pull-refresh{display:none;background:#f8f8f8 url(pullRefresh.png) no-repeat 0 bottom;background-size:100% auto;}


.change_page_loading{display:none;position:fixed;background:#fff;top:50%;left:50%;width:60px;height:60px;margin:-30px 0 0 -30px;box-shadow:0 0 4px rgba(0,0,0,0.2);border-radius:50%}
.change_page_loading .page_loading{margin:15px auto;font-size: 4px;position: relative;text-indent: -9999em;border: 0.5em solid #44b336;border-left-color:#ccc;-webkit-animation: empty_loading 1.1s infinite linear;animation: empty_loading 1.1s infinite linear}
.change_page_loading .page_loading,
.change_page_loading .page_loading:after{border-radius: 50%;width:30px;height:30px}

.overSilder{will-change:transform;overflow:hidden}
.overSilder .animate{overflow:hidden}

@-webkit-keyframes empty_loading {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@keyframes empty_loading {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}



.animate_praise{position:relative}
.animate_praise:before{-webkit-animation:praise 2s ease 1;animation:praise 2s ease 1}

@-webkit-keyframes praise{
    0%{ -webkit-transform:translate(0px, 0px); }
    20%{ -webkit-transform:translate(5px, -10px) rotate(-15deg) scale(1.2); }
    40%{ -webkit-transform:translate(0px, 5px) rotate(0deg) scale(1.2); }
    60%{ -webkit-transform:translate(5px, -10px) rotate(-15deg) scale(1.2); }
    80%{ -webkit-transform:translate(0px, 5px) rotate(0deg) scale(1.2); }
    100%{ -webkit-transform:translate(0px, 0px) scale(1); }
}

@keyframes praise{
    0%{ transform:translate(0px, 0px); }
    20%{ transform:translate(5px, -10px) rotate(-15deg) scale(1.2); }
    40%{ transform:translate(0px, 5px) rotate(0deg) scale(1.2); }
    60%{ transform:translate(5px, -10px) rotate(-15deg) scale(1.2); }
    80%{ transform:translate(0px, 5px) rotate(0deg) scale(1.2); }
    100%{ transform:translate(0px, 0px) scale(1); }
}


.has_not_more_topic,
.has_not_data{clear:both;display:block;text-align:center;border:0;border-top:1px solid #eee;padding:16px 0;font-size:14px;color:#999}
.has_not_data{background:none}

.change_page_view{position:fixed;top:0;left:0;width:100%;height:120%;background:#fff}

.month-picker-wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;background:rgba(0,0,0,0.3)}
.month-picker-wrap .picker-box{position:absolute;bottom:0;left:0;width:100%;background:#fff}
.month-picker-wrap .picker-bar{height:36px;line-height:36px;border-bottom:1px solid #eee;text-align:right;color:#ff6046}
.month-picker-wrap .cancel-btn{float:left;padding:0 17px}
.month-picker-wrap .confirm-btn{float:right;padding:0 17px}
.month-picker-wrap .picker-year,
.month-picker-wrap .picker-month{float:left;height:150px;width:50%;overflow:auto;padding:60px 0}
.month-picker-wrap .picker-hover{position:absolute;bottom:60px;left:0;width:100%;height:30px;background:rgba(0,0,0,0.1)}
.month-picker-wrap .picker-li{height:30px;line-height:30px;text-align:center}
